@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

.App {

}

/* NAVBAR */
.navbar-top {
  background-color: transparent !important;
}

.nav-buttons {
  margin-left: 30vw;
}

.navbar {
  padding: 0.5rem 0 !important;
}

/* SECTION 1 */

.section1 {
  height: 100vh;
}

.section1-left-container {
  width: 38vw;
  padding: 30vh 0 0 10vw;
}

.section1-left-container h2 {
  font-size: 48px;
  font-weight: bold;
  width: 25vw;
  margin-bottom: 8vh;
  letter-spacing: 1.44px;
  color: #2d3561;
}

.search-bar form {
  flex-flow: nowrap;
  width: 35vw;
}

.search-bar input {
  width: 65% !important;
}

.image-section1 {
  width: 90vw;
}

/* SECTION 2 */

.section2 {
  height: 100vh;
  background-color: #fafafc;
}

.section2-banner {

  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.19;
  letter-spacing: 0.96px;
  text-align: center;
  color: #1d164d;
}

.section2-banner p {
  width: 510px;
  height: 49px;
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: 0.48px;
  text-align: center;
  color: #9e9baf;
}

.recipe-card {
  width: 60vw;
  padding-left: 0 !important;
  border-radius: 7px;
  box-shadow: 0 15px 20px 0 rgba(29, 22, 77, 0.08);
  background-color: #ffffff;
}

.recipe-card img{
  width: 20vw;
}

.recipe-name h4 {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0.72px;
  text-align: left;
  color: #1d164d;
  font-weight: bold;
}

.buttons {
  background-color: #badc58 !important;
  border-color: #badc58 !important;
}

/* SECTION 3 */

.section3 {
  height: 100vh;
}

.section3-text {
  margin-top:19vh;
  width: 50vw;
}

.section3-text button {
  box-shadow: 0px 16px 12px -14px #badc58;
}

.section3-text h4 {
  width: 33vw;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.34;
  letter-spacing: 0.96px;
  text-align: left;
  color: #2d3561;
  margin-bottom: 3vh;
}

.section3-text p {
  width: 420px;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.48px;
  text-align: left;
  color: #bcbcbc;
}

/* SECTION 4 */
.section4 {
  height: 100vh;
}

.section4-container {
  border-radius: 7px;
  width: 25vw;
  box-shadow: 0 15px 20px 0 rgba(29, 22, 77, 0.08);
  background-color: #ffffff;
}



.section4-infos h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  letter-spacing: 0.72px;
  text-align: left;
  color: #1d164d;
}

.h4-1 .h4-3 .h4-4{
  width: 20vw;
}

.h4-2 {
  width: 25vw;
  
}

.user-infos figure {
  width: 52px;
  height: 52px;
  margin-right: 1vw;
}

.user-infos img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.user-infos p {
  width: 20vw;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.32px;
  text-align: left;
  color: #9e9baf;
}

/* SECTION 5 */

.section5-left-container {
  width: 38vw;
  padding: 30vh 0 0 12vw;
}

.section5-left-container h4 {
  font-size: 32px;
  font-weight: bold;
  width: 30vw;
  margin-bottom: 8vh;
  letter-spacing: 1.44px;
  color: #2d3561;

}

.search-bar-5 form {
  flex-flow: nowrap;
  width: 40vw;
}

.search-bar-5 input {
  width: 65% !important;
}

.image-section5 {
  width: 100%;
}

.image-section5 img {
  width: 90%;
}

/* FOOTER */

