* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.App {
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
.navbar-container {
  padding: 2vh 0 0 0;
}

.navbar-top {
  width: 100%;
  background-color: transparent !important;
}

.button-box {
  margin-left: 20vw;
}

.navbar-links {
  color: white !important;
  font-weight: bold;
}

.nav-logo {
  width: 15vw;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #badc58 !important;
  margin-left: 10vw;
}

.nav-button {
  width: 10vw;
  border-radius: 5px;
  color: #badc58 !important;
  border: none !important;
  font-weight: bolder !important;
  background-color: #ffffff !important;
}

/* SECTION 1 */

.section1 {
  height: 100%;
  background-image: url("/images/illustration.svg");
  background-size: 60%;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  padding-bottom: 30vh;
}

.section1-left-container {
  width: 38vw;
  padding: 30vh 0 0 10vw;
}

.section1-left-container h2 {
  font-size: 48px;
  font-weight: bold;
  width: 25vw;
  margin-bottom: 8vh;
  letter-spacing: 1.44px;
  color: #2d3561;
}

.search-bar form {
  flex-flow: nowrap;
  width: 35vw;
}

.search-bar input {
  width: 65% !important;
}

.image-section1 {
  width: 90vw;
}

.buttons i {
  font-size: 0.8rem;
}

/* SECTION 2 */

.section2 {
  height: 100%;
  background-color: #fafafc;
}

.section2-banner {
  font-size: 32px;
  font-weight: bold;
  line-height: 2.19;
  letter-spacing: 0.96px;
  text-align: center;
  color: #1d164d;
}

.section2-banner p {
  width: 40vw;
  height: 8vh;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.48px;
  text-align: center;
  color: #9e9baf;
}

.recipe-card-container {
  margin-bottom: 3vh;
}

.recipe-card {
  width: 60vw;
  padding-left: 0 !important;
  border-radius: 7px;
  box-shadow: 0 15px 20px 0 rgba(29, 22, 77, 0.08);
  background-color: #ffffff;
}

.recipe-card img {
  width: 20vw;
}

.recipe-name h4 {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0.72px;
  text-align: left;
  color: #1d164d;
  font-weight: bold;
}

.buttons {
  background-color: #badc58 !important;
  border-color: #badc58 !important;
}

/* SECTION 3 */

.section3 {
  height: 100%;
  background-image: url("/images/bloco_services.svg");
  background-size: 55%;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  padding-bottom: 23vh;
}

.section3-text {
  margin-top: 19vh;
  width: 50vw;
  margin-left: 55vw;
}

.section3-text button {
  box-shadow: 0px 16px 12px -14px #badc58;
}

.section3-text h4 {
  width: 33vw;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.34;
  letter-spacing: 0.96px;
  text-align: left;
  color: #2d3561;
  margin-bottom: 3vh;
}

.section3-text p {
  width: 32vw;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.48px;
  text-align: left;
  color: #bcbcbc;
}

/* SECTION 4 */
.section4 {
  height: 100%;
}

.section4-banner {
  font-size: 32px;
  font-weight: bold;
  line-height: 2.19;
  letter-spacing: 0.96px;
  text-align: center;
  color: #1d164d;
}

.section4-banner p {
  width: 40vw;
  height: 8vh;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.48px;
  text-align: center;
  color: #9e9baf;
}

.section4-container {
  border-radius: 7px;
  margin-bottom: 10vh;
  width: 25vw;
  box-shadow: 0 15px 20px 0 rgba(29, 22, 77, 0.08);
  background-color: #ffffff;
}

.section4-infos h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  letter-spacing: 0.72px;
  text-align: left;
  color: #1d164d;
}

.h4-1 .h4-3 .h4-4 {
  width: 20vw;
}

.h4-2 {
  width: 25vw;
}

.user-infos figure {
  width: 52px;
  height: 52px;
  margin-right: 1vw;
}

.user-infos img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.user-infos p {
  width: 20vw;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.32px;
  text-align: left;
  color: #9e9baf;
}

/* SECTION 5 */

.section5 {
  background-image: url("/images/bloco_final_image.svg");
  background-size: 50%;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat !important;
  padding-bottom: 34vh;
}

.section5-left-container {
  width: 38vw;
  padding: 25vh 0 0 12vw;
}

.section5-left-container h4 {
  font-size: 32px;
  font-weight: bold;
  width: 33vw;
  margin-bottom: 8vh;
  letter-spacing: 1.44px;
  color: #2d3561;
}

.search-bar-5 form {
  flex-flow: nowrap;
  width: 40vw;
}

.search-bar-5 input {
  width: 65% !important;
}

.image-section5 {
  width: 100%;
}

.image-section5 img {
  width: 90%;
}

/* FOOTER */

.footer-container {
  height: 100%;
  background-color: #ffffff;
  padding: 3vh 0;
}

.copyrights {
  width: 30vw;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #1d164d;
  margin-left: 12vw;
}

.policy-conditions {
  width: 30vw;
  font-family: Muli;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.32px;
  text-align: left;
  color: #9e9baf;
}

.policy {
  width: 20vw;
}

.conditions {
  width: 30vw;
}

/* RESPONSIVITY MOBILE L*/

@media (max-device-width: 425px) {
  /* NAVBAR */

  .navbar-container {
    padding: 0;
  }

  .button-box {
    margin-left: 25vw;
  }

  .nav-button {
    width: 10vw;
    border-radius: 5px;
    color: #badc58 !important;
    border: none !important;
    font-weight: bolder !important;
    background-color: #ffffff !important;
  }

  .navbar-toggler {
    margin-left: 45vw;
  }

  .navbar-collapse {
    position: relative;
    z-index: 10;
    background-color: rgba(116, 202, 142, 0.9);
    flex-direction: column !important;
    align-items: flex-end !important;
    border-radius: 10px;
    display: flex;
    padding: 8px;
  }

  .navbar-links {
    color: white !important;
    font-weight: bold;
  }

  .nav-logo {
    width: 15vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    text-align: left;
    color: #ffffff !important;
    margin-left: 5vw;
  }

  .nav-button {
    width: fit-content;
    border-radius: 5px;
    color: #badc58 !important;
    border: none !important;
    background-color: #ffffff !important;
  }

  /* SECTION 1 */

  .section1 {
    height: 100%;
    background-size: 95%;
    background-position-x: right;
    background-position-y: top;
    padding-bottom: 0vh;
  }

  .image-section1 {
    display: none;
  }

  .section1-left-container {
    width: 10vw;
    padding: 55vh 0 0 5vw;
  }

  .section1-left-container h2 {
    font-size: 22px;
    width: 90vw;
    text-align: center;
    margin: 5vh 0 3vh 0;
  }

  .search-bar form {
    width: 80vw;
    margin-left: 5vw;
  }

  .search-bar input {
    width: 100% !important;
    margin-right: 2vw;
  }

  /* SECTION 2 */

  .section2 {
    height: 100%;
  }

  .section2-banner p {
    width: 90vw;
    margin-bottom: 8vh;
  }

  .recipe-card {
    width: 90vw !important;
    margin-right: 30px !important;
    margin-bottom: 3vh;
    margin-left: 5vw;
  }

  .recipe-card-container {
    margin-bottom: 0;
  }

  .recipe-card img {
    width: 50vw;
  }

  .recipe-name h4 {
    font-size: 0.8rem;
  }

  .buttons {
    font-size: 1rem !important;
  }

  /* SECTION 3 */

  .section3 {
    background-size: 80vw;
    padding-bottom: 2vh;
  }

  .section3 figure {
    display: none;
  }

  .section3-text {
    margin-top: 5vh;
    width: 50vw;
    margin-left: 0vw;
  }

  .section3-text p {
    margin-top: 30vh;
    width: 50vw;
  }

  .section3-text button {
    box-shadow: 0px 16px 12px -14px #badc58;
  }

  .section3-text h4 {
    width: 40vw;
    font-size: 20px;
    margin-bottom: 22vh;
    margin-top: 20vh;
    margin-left: 60vw;
  }

  .section3-text p {
    width: 85vw;
    text-align: center;
    color: #bcbcbc;
    margin: 0 0 2vh 6vw !important;
  }

  .know-button {
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 3vh;
  }

  /* SECTION 4 */

  .section4 {
    height: 100%;
  }

  .section4-banner p {
    width: 80vw;
    margin-bottom: 4vh;
  }

  .section4-container {
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 60vw;
  }

  .section4-infos h4 {
    width: 50vw;
    font-size: 24px;
  }

  .user-infos img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-infos figure {
    width: 52px;
    height: 52px;
    margin-right: 1vw;
  }

  .user-infos img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-infos p {
    width: 30vw;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.32px;
    text-align: left;
  }

  /* SECTION 5 */

  .section5 {
    background-size: 70%;
    background-position-x: right;
    background-position-y: top;
    padding-bottom: 0;
  }

  .section5-left-container {
    width: 38vw;
    padding: 30vh 10vw 0 5vw;
  }

  .section5-left-container h4 {
    font-size: 0.9rem;
    width: 50vw;
    margin-bottom: 3vh;
    text-align: center;
  }

  .search-bar-5 form {
    flex-flow: nowrap;
    width: 80vw;
  }

  .search-bar-5 input {
    width: 100% !important;
    height: fit-content;
  }

  .section5-button {
    height: fit-content;
    margin-left: 5vw;
  }

  .image-section5 {
    width: 0;
  }

  .image-section5 img {
    display: none;
  }

  /* FOOTER */

  .footer-container {
    margin: 3vh 5vw;
  }

  .copyrights {
    width: 40vw;
    font-size: 0.7rem;
    text-align: center;
    margin-left: 3vw;
  }

  .policy-conditions {
    width: 30vw;
    font-size: 0.7rem;
    text-align: center;
  }

  .policy {
    width: 40vw;
  }

  .conditions {
    width: 30vw;
    margin: 0 10vw 0 10vw;
  }
}

/* RESPONSIVITY IPHONE X */

@media (max-device-width: 375px) {
  .navbar-container {
    padding: 0;
  }

  .section1-left-container {
    padding: 35vh 0 0 5vw;
  }

  /* SECTION 2 */

  .recipe-name h4 {
    font-size: 0.7rem;
  }

  .buttons {
    font-size: 0.8rem !important;
  }

  /* SECTION 3 */

  .section3-text {
    margin-top: 0vh;
  }

  .section3-text p {
    margin-top: 0vh;
    width: 50vw;
  }

  .section3-text h4 {
    margin-bottom: 15vh;
    margin-top: 15vh;
  }

  .section3-text p {
    width: 85vw;
    text-align: center;
    color: #bcbcbc;
    margin: 0 0 2vh 6vw !important;
  }

  .section5 {
    background-size: 70%;
    background-position-x: right;
    background-position-y: top;
    padding-bottom: 0;
  }

  .section5-left-container {
    width: 38vw;
    padding: 18vh 10vw 0 5vw;
  }

  .section5-left-container h4 {
    font-size: 0.9rem;
    width: 50vw;
    margin-bottom: 3vh;
    text-align: center;
  }

  .search-bar-5 form {
    flex-flow: nowrap;
    width: 80vw;
  }

  .search-bar-5 input {
    width: 100% !important;
    height: fit-content;
  }

  .section5-button {
    height: fit-content;
    margin-left: 5vw;
  }

  .image-section5 {
    width: 0;
  }

  .image-section5 img {
    display: none;
  }

  .footer-container {
    margin: 0vh 5vw;
  }

  .conditions {
    width: 30vw;
    margin: 0 10vw 0 10vw;
  }

  .copyrights {
    font-size: 0.6rem;
  }

  .policy-conditions {
    font-size: 0.6rem;
  }
}
